@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    font-family: "Open Sans", Arial, sans-serif;    
}

nav {
    background-color: #eee;
    border-right: 2px solid #777;
    height: 100vh;
    min-width: 400px;
}

nav header {
    padding: 15px;
}

nav a {
    border-top: 1px solid #777;
    color: black;
    display: block;
    padding: 15px;
    text-decoration: none;
}

main {
    flex: 1;
    height: 100vh;
    overflow-y: scroll; 
}

main img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
}

section {
    padding: 20px;
    line-height: 1.5
}

header {
    font-size: 24px;
    font-weight: 500;    
}

table, td, th {
    border: 1px solid black;
  }
  
  table {
    border-collapse: collapse;
    width: 50%;
  }
  
  th {
    height: 50px;
    background-color: #f7f7f7;
  }

footer {
    font-style: italic;
    padding-bottom: 50px;
    padding-left: 30px;
    font-size: 12px;
}

.FCC-code {
    display: block;
    text-align: left;
    white-space: pre;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    body {
        flex-direction: column;
    }
    nav {
        border-right: none;
        border-bottom: 2px solid #777;
        height: auto;
        width: 100%;
        overflow-y: scroll; 
    }
    main {
        height: auto;
        overflow-y: none;
        width: 100%;
    }
  }
